.pc-only {
    display: none;
}
html {
    scroll-behavior: smooth;
}

/* header */

header{
    position: relative;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    z-index: 0;
}

#H-logo {
    margin-left: 20px;
}

#mobile-toggle-btn{
    position: absolute;
    right: 0;
    top: 18px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
}

/* gnb */
#GNB.on{
    position: absolute;
    padding: 20px;
    width: 100%;
    top: 75px;    
    background-color: #fff;
    display: flex;
    justify-content: center;    
}

#GNB{
    display: none;
}


#GNB .depth-1 {
    position: relative;
}
#GNB .depth-1 > li {
    width: 320px;
    min-height: 55px;
    /* min-height: 240px; */
    padding: 10px;
    border: 1px solid #333;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    /* outline: 1px solid red; */
}

.m-gnb-up-btn {
    border-style: none;
    background-color: transparent;
    padding-top: 1px;
    /* position: absolute; */
    right: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    
}

.m-gnb-up-btn  img.on {
   
    transform: rotate(-180deg);
    transition: 1s;

}

.m-gnb-up-btn  img {
    display: block;
}



#GNB .depth-1 > li .m-gnb-up-btn > p {
    font-weight: 500;
    font-size: 24px;
    margin-right: 150px;
}




.depth-2.on{
    
    display: block;
    /* position: absolute; */
}

.depth-2{
    display: none;
}

.depth-2 > li {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    /* outline: 1px solid red; */
    
}

.depth-2 > li > a {
    font-weight: 400;
    font-size: 18px;
    /* outline: 1px solid red; */
}

.depth-2 > li > a:hover {
    color: var(--main-color);
}


/* main */

#main-visual{
    width: 100%;
    height: 460px;
    background-image: url(../images/Background.jpg);
    background-position: center;
    background-size: cover;
}

#main-title-group {
    width: 100%;
}

.Holder{
    display: flex;
    width: 100%;
    height: 350px;
    background-color: var(--Secondary-color-01);
    justify-content: center;
    align-items: center;
}

.Holder .Holder-text {
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Holder .Holder-text > h1 {
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 20px;
}

.Holder .Holder-text > h3 {
    font-weight: 500;
    font-size: 24px;
}

/* contents */
#contents-01{
    width: 100%;
    height: 600px;
    background-image: url(../images/main-contents-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
}

#contents-01 .container{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 150px;
}

#contents-01 .container .title-text{
    margin-bottom: 50px;
}


#contents-01 .container .title-text > h2{
    font-weight: 500;
    font-size: 24px;
}

#contents-01 .container .title-text .title-under-bar{
    width: 98px;
    border-bottom: 8px solid var(--main-color);
    margin-top: 50px;
    margin-left: 40%;
}


#contents-01 .container .sub-text > h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
}

#contents-01 .container .sub-text > h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px
}

#contents-01 .container .sub-text > p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 150px;
    line-height: 20px;
}

#contents-02{
    width: 100%;
    height: 550px;
    background-image: url(../images/main-contents-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contents-02 .container{
    text-align: center;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;

}

#contents-02 .container .sub-text > h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
}

#contents-02 .container .sub-text > h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}

#contents-02 .container .sub-text > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;

}

#contents-03{
    width: 100%;
    height: 550px;
    background-image: url(../images/main-contents-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contents-03 .container{

    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

#contents-03 .container .sub-text > h1 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
}

#contents-03 .container .sub-text > h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}

#contents-03 .container .sub-text > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

#contents-04 {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    text-align: center;
}

#contents-04 .contents-04-container .c-4-text{
    margin-bottom: 123px;
}

#contents-04 .contents-04-container .c-4-text > p{
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

#contents-04 .contents-04-container .end-title-text-group{
    display: block;
    text-align: center;
}

#contents-04 .contents-04-container .end-title-text-top-bar{ 
    width: 98px;
    border-bottom: 8px solid var(--main-color);
    margin-bottom: 50px;
     margin-left: 40%;
}

.end-title-text-top-bar > h2 {
    font-weight: 500;
    font-size: 24px;
} 

#contents-04 .m-contents-04-logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* Bridge */
#Bridge {
    width: 100%;
     height: 200px;
    display: flex;
}

#Bridge .Previous-group {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: var(--Secondary-color-03);
}

#Bridge .Previous-group .prev-btn{
    margin-left: 20px;
    margin-right: 18px;
    border-style: none;
    background-color: transparent;
}


#Bridge .Previous-group .previous-text {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Bridge .Previous-group .previous-text > h2 {
    font-weight: 700;
    font-size: 18px;
}

#Bridge .Previous-group .previous-text > h3 {
    font-weight: 400;
    font-size: 14px;
}




#Bridge .next-group {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--Secondary-color-02);
}

#Bridge .next-group .next-text {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Bridge .next-group .next-text > h2 {
    font-weight: 700;
    font-size: 18px;
}

#Bridge .next-group .next-text > h3 {
    font-weight: 400;
    font-size: 14px;
}

#Bridge .next-group  .next-btn {
    margin-right: 20px;
    background-color: transparent;
    border-style: none;
    margin-left: 18px;
    cursor: pointer;
}

/* footer */
#footer {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 12px;
    margin-top: 55px;
}

#footer .f-info > ul > li{
    display: inline-block;
    margin-bottom: 15px;
}

#footer .f-info .f-adress > ul >li{
    display: inline-block;
    margin-bottom: 15px;

}

#footer .m-f-logo {
    margin-top: 44px;
 
}

#footer .f-right-menu {
    display: inline-block;
}

#footer .f-right-menu .sns-group {
    margin-bottom: 55px;
}

#footer .f-right-menu .sns-group > ul > li{
    display: inline-block;
    margin-left:20px;
    margin-top: 50px;
}

